.Dcard {
  max-width: 500px;
  height: 670px;
  padding: 1rem;
  box-shadow: 1px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 1.95px;
  /* border: 1px solid rgb(230, 225, 225); */
  border-radius: 5px;
  margin-right: 5rem;
}
.img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 351px;
}
.image {
  width: 100%;
  height: 100%;
}
.text h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.text h5 {
  opacity: 0.8;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.text p {
  text-align: justify;
  line-height: 1.5;
}
@media (max-width: 1226px) {
  .Dcard {
    margin-top: 5rem;
    margin-right: 0;
  }
}
.socialIcon {
  margin-top: 15px;
  display: flex;
}
.socialIcon a {
  color: black;
  border: 1px solid black;
  margin-right: 20px;
  border-radius: 5px;
  padding: 10px;
  stroke: 20px;
  transition: 100ms ease-in;
}
.socialIcon a:hover {
  background-color: rgb(97, 146, 112);
  color: white;
  border-color: white;
  fill: white;
}

.icon {
  stroke-width: 1.5px;
}
.Dcard:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 3.9px 3.9px 5.2px 3.9px;
}
@media only screen and (max-width: 768px) {
  .Dcard {
    max-width: 450px;
  }
}
