.hero_wrapper {
  height: 90svh;
  background-image: url(/asset/video.gif);
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_text {
  height: 60vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 20px;
}
.hero_text h1 {
  text-align: center;
  font-size: 1.5rem;
  max-width: 700px;
}

.hero_text strong {
  color: #20e7bd;
}
