.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 7% 0 25px 0;
  text-align: center;
  padding: 0 10%;
}
.mainContent hr {
  margin-top: 10px;
  width: 350px;
  /* border: 1px solid #20e7bd; */
}
.mainContent h1 {
  font-size: 2rem;
  color: #000000;
}
.mainContent p {
  margin-top: 3rem;
  line-height: 1.7;
  color: #000000;
  font-size: 1.3rem;
  /* font-weight: 400; */
}

.head2 {
  margin-top: 120px;
}

@media only screen and (max-width: 720px) {
  .mainContent h1 {
    font-size: 1.5rem;
  }
  .mainContent p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 720px) {
  .specsOfCompany h1 {
    font-size: 1.5rem;
  }
}
