.header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
}
.header_wrapper {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.logo_wrapper img {
  width: 200px;
  height: auto;
}
.nav_menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}
.nav_menu li {
  list-style: none;
  padding-left: 2rem;
}
.nav_list a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}
.nav_list a:hover {
  color: #00e8ac;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bars1,
.bars2,
.bars3 {
  width: 35px;
  height: 5px;
  margin: 4px;
  background-color: #5f6368;
  transition: all 0.3s ease-in-out;
}
.hamburger_wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 820px) {
  .nav_menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
.ham_on {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.ham_on li {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 15px;
  padding: 12px;
}
.ham_on a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
.ham_list {
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  background-color: #79ddc7;
}
