.our_team_card {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.our_team_card_wrapper {
  max-width: 500px;
  height: auto;
  background-color: #b7b7b725;
}
.bg {
  height: 60px;
  background-color: #e6e6e6;
  width: 100%;
  border-radius: 2px;
}
.image {
  border-radius: 50%;
  margin-top: -50px;
  margin-left: 5px;
}
.our_team_card h3 {
  margin-top: 20px;
}
.our_team_card_wrapper h6 {
  opacity: 0.5;
  margin-top: 5px;
}
.our_team_card_wrapper p {
  margin-top: 10px;
  line-height: 1.3;
}
.text {
  padding: 1rem;
}
/* @media screen and (max-width: 772px) {
  .our_team_card {
    width: 350px;
  }
} */
.socialIcon {
  padding: 10px;
}
.socialIcon a {
  padding: 5px;
  margin-right: 4px;
}

.icon {
  color: #737373;
  stroke-width: 1px;
  fill: #737373;
}
.icon:hover {
  fill: rgb(97, 146, 112);
  color: rgb(97, 146, 112);
}
