.main {
  padding-top: 120px;
}
.wrapper {
  text-align: center;
}
.wrapper p {
  padding: 1rem 5rem 5rem 5rem;
  line-height: 1.6;
}
.video {
  display: flex;
  align-items: center;
}
.video video {
  width: 90vw;
  height: 100%;
}
.investor {
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 200px;
  margin-top: 50px;
}
.new {
  margin-right: 5rem;
  /* background: #ece8e8; */
}
.new img {
  padding: 1rem;
}
.partner h1 {
  margin-bottom: 50px;
}
@media only screen and (max-width: 524px) {
  .new {
    margin-right: 0;
    margin-top: 20px;
    /* background: #ece8e8; */
  }
}
